<form {{action 'save' content on='submit' }}>
    {{textarea value=title placeholder="Enter title here"}} {{!-- {{textarea value=text
    placeholder="Enter content here"}} --}}
    <button type="submit">Create Post</button>
</form>
