<body>
    <div class="container-fluid">
        <header>
            <h1>Blog</h1>
        </header>
        {{outlet}}
        <footer>
            &copy;2015 Ian Dunlop.
        </footer>
    </div>
</body>
